a{
    text-decoration: none;
  
    color: black;
    width: 100%;
    margin-left: 1%;

}
ion-header,ion-toolbar,ion-title{
    background-color:#E5E5E5;
    
}

.new-background-color{
    --background: #E5E5E5;
     border-radius: 10ch;
}
i{
    float: right;
    color: #66e8FF;
}

.image{
    background-color:#E5E5E5;
    margin: 43%;
    margin-top: 5%;
    margin-bottom: 5%;
      border-radius:50%;
      width: 15%;
      height: 70px;
  }