<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulaire" (ngSubmit)="login()">
    <ion-row>

      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
        offset-xl="4">
        <ion-card>
          <div class="card">
            <img src="../../assets/images/Send.png" alt="no image" class="image-cirlce">
            <ion-card-content>
              <ion-item class="ion-no-padding">
                <div class="item-div">
                  <ion-label position="stacked" class="ion-text-wrap">Telephone</ion-label>
                  <ion-input type="tel" placeholder="77 197 07 77" formControlName='username' ion-background-color=#f2F2F2F class="item"
                    style="width:100%"></ion-input>
                </div>
              </ion-item>
              <br>
              <ion-item class="ion-no-padding --ion-color-succes">
                <div class="item-div">
                  <ion-label position="stacked">Mot de pass</ion-label>
                  <ion-input type="password" placeholder="*******" formControlName='password' class="item"></ion-input>
                </div>
              </ion-item>
              <br>
              <small> <a href="" style="color: #66e8FF;font-weight:bolder; text-decoration: none;">Mot de passe oublié ?
                </a> </small>
              <br><br>
              <ion-button expanded="block" color="secondary" class="btn" (click)="login()"
                [disabled]='!formulaire.valid'>Se connecter</ion-button>
            </ion-card-content>
          </div>
        </ion-card>

      </ion-col>
    </ion-row>
  </form>
</ion-content>