<ion-header>
  <ion-toolbar >
    <button class="homebutton"  (click)='homebutton()'><i class="fas fa-home"></i></button>
    <img src="../../assets/images/projectIcone.jpeg" alt="no image" class="image">
  </ion-toolbar><br>
</ion-header>
<ion-content>
	<br> <ion-title style="text-align: center; text-decoration: underline;">Mes Commisions</ion-title><br>
  <ion-list class="bg-transparent">
    <table mat-table [dataSource]="dataSourceCommission" class="mat-elevation-z8" matSort>   
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let commission"> {{commission.createAt | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let commission"> {{commission.transactiontype}} </td>
      </ng-container>
      
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef> Montant </th>
        <td mat-cell *matCellDef="let commission"> {{commission.montant}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]= "10" showFirstLastButtons class="tabfooter"></mat-paginator>
    <ion-badge class="montantbadge">  <ion-badge color="secondary" style="float: left; width: 40%;border-bottom: 2px solid #66e8FF">Total </ion-badge><ion-badge class="montant">{{montantCommission  | number:'': 'fr-FR'}}  francs</ion-badge></ion-badge>
    </ion-list>


</ion-content>
