a{
    text-decoration: none;
  
    color: black;
    width: 100%;
    margin-left: 1%;

}
ion-header,ion-toolbar,ion-title{
    background-color:#E5E5E5;
    
}

.new-background-color{
    --background: #E5E5E5;
     border-radius: 10ch;
}
i{
    float: right;
    color: #66e8FF;
}

.image{
    background-color:#E5E5E5;
    margin: 43%;
    margin-top: 5%;
    margin-bottom: 5%;
      border-radius:50%;
      width: 15%;
      height: 70px;
  }
  .solde{
    background-color:white;
      border-radius: 1.2ch;
      border-bottom:2px solid #66e8FF;
      width: 80%;
      margin-left: 10%;
      height: 100px;
  }
  .cfa {
    position: absolute;
    color:#000000; 
    font-size: 15px;
    margin-top:20px;
    margin-left:-2%
    }
  .montant{
    display:inline-block;
    width:50%;
    font-size: 35px;
    color: #66e8FF;
  }
  .inlineDiv{
    display:inline-block;
 
  }
  ion-icon{
    position: absolute;
    font-size: 20px;
    color: #66e8FF;
    margin-top: 18px;
    margin-left: 40%;

}
ion-footer {
  &.footer-md::before {
      background-image: none;
  }
}