<!--
  
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

-->
<ion-content padding center text-center>
  <ion-title>Connection</ion-title>
<ion-list>
  <ion-item>
    <ion-input placeholder="nom d'utilisateur" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="mot de pass" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-list> 
<ion-button (click)="login()">Soumettre</ion-button>
</ion-content>